apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: guestbook-role
  namespace: secure-app
rules:
  - apiGroups: [""]
    resources: ["pods", "services"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "list", "watch", "create", "update"]
